@charset "utf-8";
#k_mv>h2{
    left: 0px;
    font-size: 60px;
}
#k_mv>span>strong{
    top: 0px;
    opacity: 1;
}
#k_mv>span>em{
    left: 0px;
    opacity: 1;
}
#k_mv>p{
    margin-top: 30px;
    opacity: 1;
}